<div id="searchbar">

  <%= form_tag '/people', :method => :get do %>
	<%= text_field_tag 'person_uri', nil, :size => 75, :value => params[:person_uri] %>
	<%= submit_tag 'Analyze Influence', :class => 'button' %>
  <% end %>
  <% if params[:person_uri].nil? || params[:person_uri].empty? %>
	<span class="example_text">e.g. <a href="/people?person_uri=http%3A%2F%2Fdbpedia.org%2Fresource%2FNoam_Chomsky">http://dbpedia.org/resource/Noam_Chomsky</a></span>
  <% end %>
</div>

<div id="results-container">
  <div id="results">
    <% unless @influenced.nil? || @influencers.nil? %>

	  <h2><%= link_to params[:person_uri], '/people?person_uri=' + u(params[:person_uri]) %> influenced:</h2>

	  <% @influenced.each do |i| %>
		&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 75%">&#9658;</span>&nbsp;&nbsp;<%= link_to i, '/people?person_uri=' + u(i) %><br/>
	  <% end %>

	  <br/>

	  <h2><%= link_to params[:person_uri], '/people?person_uri=' + u(params[:person_uri]) %> was influenced by:</h2>

	  <% @influencers.each do |i| %>
		&nbsp;&nbsp;&nbsp;&nbsp;&#9668;&nbsp;&nbsp;<%= link_to i, '/people?person_uri=' + u(i) %><br/>
	  <% end %>
    <% end %>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
</div>