<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Exo:100|Strait' rel='stylesheet' type='text/css'>
  <title><%= content_for?(:title) ? yield(:title) : "influence discovery, by sands fish" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
	<div id="header">
		<h1 class="logo"><a href="/" class="logo">influence discovery</a></h1>
		powered by <a href="http://dbpedia.org" class="subtitle">dbpedia.org</a>
		<span class="subtitle">a research & inspiration tool by <a href="http://sandsfish.com" class="subtitle">sands fish</a></span>
	</div>
	<div id="main">
    <div id="container">
      <div id="flash">
      	<% flash.each do |name, msg| %>
      	  <br/>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
  	  </div>
      <%= content_tag :h1, yield(:title) if show_title? %>
    </div>
		<%= yield %>
	</div>
	<br/>
	<div id="footer">
		<br/>
		<br/>
		powered by <a href="http://dbpedia.org" class="subtitle">dbpedia.org</a>
		<span class="subtitle">a research & inspiration tool by <a href="http://sandsfish.com" class="subtitle">sands fish</a></span>
		<br/>
	</div>
</body>
</html>
